body{
    height: 400px;
    width: 300px;
}
#header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: stretch;
    flex-direction: row-reverse;
}
#timerstyle{
    font-family: monospace;
    font-size: -webkit-xxx-large;
    
}
#task-container{
    justify-content: center;
    align-items: center;
}
