body{
    height: 400px;
    width: 300px;
    background-color: #d61818d6;
}
#header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: stretch;
    flex-direction: row-reverse;
}
#timerstyle{
    font-family: monospace;
    font-size: -webkit-xxx-large;
    
}
#task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
.taskinputs{
    outline: transparent;
    border: 1px solid red;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    width: 200px;
    background-color: #fdfdfd8a;
}
.deleteinput{
    outline: #4fc39700;
    border: 1px solid #f61e1e;
    height: 36px;
    width: 26px;
    border-radius: 4px;
    color: rgb(161, 9, 9);
    background-color: #fdfdfd8a;
    font-weight: 700;
    
}
.btn-danger{
    --bs-btn-bg: #cf1224;
}

